
/** Seccion Inicio **/
.rev-block span {
     opacity: 0;
     animation: appear-text 0.0001s linear forwards;
     animation-delay: 1.4s;
}

.rev-block:after {
     content: '';
     top: 0;
     left: 0;
     position: absolute;
     width: 0%;
     height: 100%;
     background: #FF007F;
     animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
     animation-delay: 1s;
}

@keyframes rev-block {

     0% {
          left: 0;
          width: 0%;
     }
     50% {
          left: 0;
          width: 100%;
     }
     100% {
          left: 100%;
          width: 0%;
     }

}

@keyframes appear-text {

     0% {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }

}

#onemore {
     top: 51%;
     left: 58%;
}

#onemore span {
     animation-delay: 2s;
}

#onemore.rev-block:after {
     background: #343a40;
     animation-delay: 1.4s;
}

#twomore span {
     animation-delay: 3s;
}

#twomore.rev-block:after {
     background: #343a40;
     animation-delay: 2s;
}

/** Scroll **/

.percent {
    position: fixed;
    display: flex;
    top: 50%;
    right: 50px;
    flex-direction: column;
    width: 1px;
    color:#05f2f2;
}

/** Cursor Animation **/

.cursor{
     position: fixed;
     width: 30px;
     height: 30px;
     border: 1px solid #05f2f2;
     border-radius: 50%;
     left: 0;
     top: 0;
     pointer-events: none;
     transform: translate(-50%, -50%);
     transition: .1s;
     z-index: 9;
}

.cursor2{
     position: fixed;
     width: 8px;
     height: 8px;
     background-color: #05f2f2;
     border-radius: 50%;
     left: 0;
     top: 0;
     pointer-events: none;
     transform: translate(-50%, -50%);
     transition: .15s;
     z-index: 9;
}

.content:hover ~ .cursor{
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #05f2f2;
  opacity: .5;
}

.content:hover ~ .cursor2{
  opacity: 0;
}